.wrapper {
    width: 100%;
    // max-height: min((calc(100vh - 70px) - 60px), 734px);
    max-height: 734px;
    height: (calc(100vh - 70px) - 60px);
    min-height: 100px;
    padding-top: 8px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
}
